@model OnlineInsurance.Models.HomeViewModel
@{
    ViewData["Title"] = "HomeInsuranceForm";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from pixydrops.com/insur-html/main-html/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 07 Oct 2024 07:07:06 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home One || Insur || Insur HTML 5 Template </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assetsuse/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assetsuse/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assetsuse/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/assetsuse/images/favicons/site.webmanifest">
    <meta name="description" content="Insur HTML 5 Template ">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="~/assetsuse/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/animate/animate.min.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/animate/custom-animate.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/jarallax/jarallax.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/jquery-magnific-popup/jquery.magnific-popup.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/nouislider/nouislider.pips.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/odometer/odometer.min.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/swiper/swiper.min.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/insur-icons/style.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/insur-two-icon/style.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/tiny-slider/tiny-slider.min.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/reey-font/stylesheet.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/bxslider/jquery.bxslider.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/vegas/vegas.min.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/timepicker/timePicker.css">
    <link rel="stylesheet" href="~/assetsuse/vendors/ion.rangeSlider/css/ion.rangeSlider.min.css">

    <!-- template styles -->
    <link rel="stylesheet" id="langLtr" href="~/assetsuse/css/insur.css">
</head>

<body class="custom-cursor ">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>




    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">
        <header class="main-header clearfix">
            <div class="main-header__top">
                <div class="container">
                    <div class="main-header__top-inner">
                        <div class="main-header__top-address">
                            <ul class="list-unstyled main-header__top-address-list">
                                <li>
                                    <i class="icon">
                                        <span class="icon-pin"></span>
                                    </i>
                                    <div class="text">
                                        <p>30 Commercial Road Fratton, Australia</p>
                                    </div>
                                </li>
                                <li>
                                    <i class="icon">
                                        <span class="icon-email"></span>
                                    </i>
                                    <div class="text">
                                        <p><a href="mailto:needhelp@company.com">needhelp@company.com</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="main-header__top-right">
                            <div class="main-header__top-menu-box">
                                <ul class="list-unstyled main-header__top-menu">
                                    <li><a href="make-a-claim-death.html">Make a claim</a></li>
                                    <li><a href="faq.html"> FAQs</a></li>
                                    <li><a href="about.html">About</a></li>
                                </ul>
                            </div>
                            <div class="main-header__top-social-box">
                                <div class="main-header__top-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="main-menu clearfix">
                <div class="main-menu__wrapper clearfix">
                    <div class="container">
                        <div class="main-menu__wrapper-inner clearfix">
                            <div class="main-menu__left">
                                <div class="main-menu__logo">
                                    <a href="index-2.html"><img src="~/assetsuse/images/resources/logo-1.png" alt=""></a>
                                </div>
                                <div class="main-menu__main-menu-box">
                                    <div class="main-menu__main-menu-box-inner">
                                        <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                        <ul class="main-menu__list">

                                            <li class="dropdown">
                                                <a class="nav-link" asp-controller="Admin" asp-action="UserDashboard">Home</a>
                                              
                                            <li class="nav-item">
                                                <a class="nav-link" asp-controller="Admin" asp-action="InsuranceList">Insurance</a>
                                            </li>



                                            <li class="dropdown">
                                                <a asp-controller="Admin" asp-action="UserDashboard">My Insurance</a>
                                                <ul>
                                                    <li><a asp-controller="Admin" asp-action="PendingInsurance">Pending Insurance</a></li>
                                                    <li><a asp-controller="Admin" asp-action="ActiveInsurance">Active Insurance</a></li>
                                                    <li><a asp-controller="Admin" asp-action="RejectedInsurance">Rejected Insurance</a></li>

                                                </ul>
                                            </li>
                                          
                                        </ul>
                                    </div>
                                    <div class="main-menu__main-menu-box-search-get-quote-btn">
                                        <div class="main-menu__main-menu-box-search">
                                            <a href="#"
                                               class="main-menu__search search-toggler icon-magnifying-glass"></a>
                                            <a asp-controller="Admin" asp-action="UserDashboard"
                                               class="main-menu__cart insur-two-icon-shopping-cart"></a>
                                        </div>
                                        <div class="main-menu__main-menu-box-get-quote-btn-box">
                                            <a asp-controller ="Admin" asp-action="UserDashboard"
                                               class="thm-btn main-menu__main-menu-box-get-quote-btn">Get a Quote</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-menu__right">
                                <div class="main-menu__call">
                                    <div class="main-menu__call-icon ">
                                        @*  <i class="fas fa-phone"></i> *@

                                    </div>
                                    <div class="main-menu__call-content">
                                        <div class="main-menu__main-menu-box-inner">
                                            <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                            <ul class="main-menu__list">

                                                <li class="dropdown">
                                                    <a> @ViewBag.UserName</a>
                                                    <ul>
                                                        <li>
                                                            <a asp-controller="Admin" asp-action="UserRegister" class="dropdown-item"> Register</a>
                                                        </li>
                                                        <li>
                                                            <a asp-controller="Admin" asp-action="UserLogout" class="dropdown-item">Logout</a>
                                                        </li>
                                                        @*   <li><a href="product-details.html">Shop details</a></li>
                                                        <li><a href="cart.html">Cart</a></li>
                                                        <li><a href="checkout.html">Checkout</a></li> *@
                                                    </ul>
                                                </li>


                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
        <!--Main Slider Start-->
        <section class="main-slider clearfix">
            <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
                "effect": "fade",
                "pagination": {
                "el": "#main-slider-pagination",
                "type": "bullets",
                "clickable": true
                },
                "navigation": {
                "nextEl": "#main-slider__swiper-button-next",
                "prevEl": "#main-slider__swiper-button-prev"
                },
                "autoplay": {
                "delay": 5000
                }}'>
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="image-layer"
                             style="background-image: url('@Url.Content("~/assetsuse/images/backgrounds/main-slider-1-1.jpg")')">
                        </div>
                        <!-- /.image-layer -->

                        <div class="main-slider-shape-1 float-bob-x">
                            <img src="~/assetsuse/images/shapes/main-slider-shape-1.png" alt="">
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <h2 class="main-slider__title">
                                            Insurance <br> for the better <br> family
                                            <span>life.</span>
                                        </h2>
                                        <p class="main-slider__text">
                                            Phasellus condimentum laoreet turpis, ut tincid
                                            sodales <br> in. Integer leo arcu, mollis sit amet tempor.
                                        </p>
                                        <div class="main-slider__btn-box">
                                            <a href="about.html" class="thm-btn main-slider__btn">Let’s Get Started</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="image-layer"
                             style="background-image: url('@Url.Content("~/assetsuse/images/backgrounds/main-slider-1-2.jpg")')">
                        </div>
                        <!-- /.image-layer -->

                        <div class="main-slider-shape-1 float-bob-x">
                            <img src="~/assetsuse/images/shapes/main-slider-shape-1.png" alt="">
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <h2 class="main-slider__title">
                                            Insurance <br> for the better <br> family
                                            <span>life.</span>
                                        </h2>
                                        <p class="main-slider__text">
                                            Phasellus condimentum laoreet turpis, ut tincid
                                            sodales <br> in. Integer leo arcu, mollis sit amet tempor.
                                        </p>
                                        <div class="main-slider__btn-box">
                                            <a href="about.html" class="thm-btn main-slider__btn">Let’s Get Started</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">

                        <div class="image-layer"
                             style="background-image: url('@Url.Content("~/assetsuse/images/backgrounds/main-slider-1-3.jpg")')">
                        </div>
                        <!-- /.image-layer -->

                        <div class="main-slider-shape-1 float-bob-x">
                            <img src="~/assetsuse/images/shapes/main-slider-shape-1.png" alt="">
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <h2 class="main-slider__title">
                                            Insurance <br> for the better <br> family
                                            <span>life.</span>
                                        </h2>
                                        <p class="main-slider__text">
                                            Phasellus condimentum laoreet turpis, ut tincid
                                            sodales <br> in. Integer leo arcu, mollis sit amet tempor.
                                        </p>
                                        <div class="main-slider__btn-box">
                                            <a href="about.html" class="thm-btn main-slider__btn">Let’s Get Started</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- If we need navigation buttons -->
                <div class="main-slider__nav">
                    <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                        <i class="icon-right-arrow"></i>
                    </div>
                    <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                        <i class="icon-right-arrow1"></i>
                    </div>
                </div>

            </div>
        </section>
        <!--Main Slider End-->
        <!--About One Start-->
        <!--Services One End-->
        <!--Why Choose One Start-->
        <!--Get Insurance Start-->
        <section class="get-insurance">
            <div class="get-insurance-bg"
                 style="background-image: url('@Url.Content("~/assetsuse/images/backgrounds/get-insurance-bg.png")')">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="get-insurance__left">
                            <div class="wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
                                <!-- Optional Image Here -->
                            </div>
                            <div class="get-insurance__circle"></div>
                            <div class="get-insurance__shape-1 float-bob-x">
                                <img src="~/assetsuse/images/shapes/get-insurance-shape-1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="get-insurance__right">
                            <div class="wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
                                <h2 class="section-title__title">Apply for Home Insurance</h2>
                            </div>
                            <p style="color:red;">@TempData["Size_Error"]</p>
                            <p style="color:red;">@TempData["Ext_Error"]</p>
                            <div class="get-insurance__tab">
                                <div class="get-insurance__tab-box tabs-box">
                                    <div class="tabs-content">
                                        <!-- Home Insurance Form Tab -->
                                        <div class="tab active-tab" id="homeInsurance">
                                            <div class="get-insurance__content">
                                                <form asp-action="HomeInsuranceForm" method="post" enctype="multipart/form-data" class="get-insurance__form">
                                                    <div class="get-insurance__content-box">
                                                     

                                                        <!-- Hidden field to pass the InsuranceId -->
                                                        <div class="get-insurance__input-box">
                                                            <label asp-for="OwnerName" class="control-label"></label>
                                                            <input asp-for="OwnerName" class="form-control" />
                                                            <span asp-validation-for="OwnerName" class="text-danger"></span>
                                                        </div>
                                                        <div class="get-insurance__input-box">
                                                            <label asp-for="Address" class="control-label"></label>
                                                            <input asp-for="Address" class="form-control" />
                                                            <span asp-validation-for="Address" class="text-danger"></span>
                                                        </div>
                                                        <div class="get-insurance__input-box">
                                                            <label asp-for="Type" class="control-label"></label>
                                                            <input asp-for="Type" class="form-control" />
                                                            <span asp-validation-for="Type" class="text-danger"></span>
                                                        </div>
                                                        <div class="get-insurance__input-box">
                                                            <label asp-for="Stories" class="control-label"></label>
                                                            <input asp-for="Stories" class="form-control" />
                                                            <span asp-validation-for="Stories" class="text-danger"></span>
                                                        </div>

                                                       @*  <div class="get-insurance__input-box">
                                                            <label asp-for="Added_by" class="control-label"></label>
                                                            <input asp-for="Added_by" class="form-control" />
                                                            <span asp-validation-for="Added_by" class="text-danger"></span>
                                                        </div> *@

                                                        <div class="get-insurance__input-box">
                                                            <label asp-for="Papersphoto" class="control-label"></label>
                                                            <input asp-for="Papersphoto" class="form-control" />
                                                            <span asp-validation-for="Papersphoto" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="thm-btn get-insurance__btn">

                                                        Submit
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Get Insurance End-->
        <!--Get Insurance End-->
        <!--Site Footer Start-->
        <footer class="site-footer">
            <div class="site-footer-bg"
                 style="background-image: url('@Url.Content("~/assetsuse/images/backgrounds/site-footer-bg.png")')">
            </div>
            <div class="container">
                <div class="site-footer__top">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                            <div class="footer-widget__column footer-widget__about">
                                <div class="footer-widget__logo">
                                    <a href="index-2.html"><img src="~/assetsuse/images/resources/footer-logo.png" alt=""></a>
                                </div>
                                <div class="footer-widget__about-text-box">
                                    <p class="footer-widget__about-text">
                                        Aliqua id fugiat nostrud irure ex duis ea quis
                                        id quis ad et. Sunt qui esse pariatur duis deserunt.
                                    </p>
                                </div>
                                <div class="site-footer__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="footer-widget__column footer-widget__contact clearfix">
                                <h3 class="footer-widget__title">Contact</h3>
                                <ul class="footer-widget__contact-list list-unstyled clearfix">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-email"></span>
                                        </div>
                                        <div class="text">
                                            <p><a href="mailto:needhelp@company.com">needhelp@company.com</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-pin"></span>
                                        </div>
                                        <div class="text">
                                            <p>30 Commercial Road Fratton, Australia</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="footer-widget__open-hour">
                                    <h3 class="footer-widget__open-hour-title">Open Hours</h3>
                                    <h3 class="footer-widget__open-hour-text">
                                        Mon – Sat: 8:00 am to 6:00 pm Sunday:
                                        Closed
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="footer-widget__column footer-widget__gallery clearfix">
                                <h3 class="footer-widget__title">Instagram</h3>
                                <ul class="footer-widget__gallery-list list-unstyled clearfix">
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="~/assetsuse/images/resources/footer-widget-gallery-img-1.jpg" alt="">
                                            <a href="#"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="~/assetsuse/images/resources/footer-widget-gallery-img-2.jpg" alt="">
                                            <a href="#"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="~/assetsuse/images/resources/footer-widget-gallery-img-3.jpg" alt="">
                                            <a href="#"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="~/assetsuse/images/resources/footer-widget-gallery-img-4.jpg" alt="">
                                            <a href="#"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="~/assetsuse/images/resources/footer-widget-gallery-img-5.jpg" alt="">
                                            <a href="#"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="~/assetsuse/images/resources/footer-widget-gallery-img-6.jpg" alt="">
                                            <a href="#"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                            <div class="footer-widget__column footer-widget__newsletter">
                                <h3 class="footer-widget__title">Newsletter</h3>
                                <p class="footer-widget__newsletter-text">
                                    Subscribe our newsletter to get our <br>
                                    latest update & news.
                                </p>
                                <form class="footer-widget__newsletter-form">
                                    <div class="footer-widget__newsletter-input-box">
                                        <input type="email" placeholder="Email address" name="email">
                                        <button type="submit" class="footer-widget__newsletter-btn">
                                            <i class="far fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </form>
                                <div class="footer-widget__phone">
                                    <div class="footer-widget__phone-icon">
                                        <span class="icon-telephone"></span>
                                    </div>
                                    <div class="footer-widget__phone-text">
                                        <a href="tel:9200368090">+92 (003) 68-090</a>
                                        <p>Call to Our Experts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="site-footer__bottom">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="site-footer__bottom-inner">
                                <p class="site-footer__bottom-text">
                                    © All Copyright 2023 by <a href="#">Insur.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index-2.html" aria-label="logo image">
                    <img src="~/assetsuse/images/resources/logo-2.png" width="143"
                         alt="">
                </a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@insur.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here...">
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->


    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    <script>
        $(document).ready(function () {
            $('.nav-link').click(function (e) {
                e.preventDefault(); // Default behavior rok de
                var url = $(this).attr('/Admin/InsuranceList'); // URL fetch karo

                $.get(url, function (data) {
                    $('#insurance-section').html(data); // Insurance cards ko panel mein load karo
                });
            });
        });

    </script>
    @section Scripts {
        <script src="~/js/your-script.js"></script>
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

    <script src="~/assetsuse/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/assetsuse/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assetsuse/vendors/jarallax/jarallax.min.js"></script>
    <script src="~/assetsuse/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="~/assetsuse/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="~/assetsuse/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="~/assetsuse/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/assetsuse/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/assetsuse/vendors/nouislider/nouislider.min.js"></script>
    <script src="~/assetsuse/vendors/odometer/odometer.min.js"></script>
    <script src="~/assetsuse/vendors/swiper/swiper.min.js"></script>
    <script src="~/assetsuse/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="~/assetsuse/vendors/wnumb/wNumb.min.js"></script>
    <script src="~/assetsuse/vendors/wow/wow.js"></script>
    <script src="~/assetsuse/vendors/isotope/isotope.js"></script>
    <script src="~/assetsuse/vendors/countdown/countdown.min.js"></script>
    <script src="~/assetsuse/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assetsuse/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="~/assetsuse/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/assetsuse/vendors/vegas/vegas.min.js"></script>
    <script src="~/assetsuse/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="~/assetsuse/vendors/timepicker/timePicker.js"></script>
    <script src="~/assetsuse/vendors/circleType/jquery.circleType.js"></script>
    <script src="~/assetsuse/vendors/circleType/jquery.lettering.min.js"></script>
    <script src="~/assetsuse/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>



    <!-- template js -->
    <script src="~/assetsuse/js/insur.js"></script>
</body>


<!-- Mirrored from pixydrops.com/insur-html/main-html/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 07 Oct 2024 07:10:17 GMT -->
</html>


